.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
//Shared
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


//Component

.table-basic{
  table, th,td {
    border: 1px solid black;
  }
}



.dialog-wrapper {
  @extend .flex-center;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: black, $alpha: .33);

  .content{
    background-color: white;
    border-radius: 40px;
    padding: 40px;
  }
}
