
//defaults
:root{

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: initial;
  text-decoration: none;
}

//Shared
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.row {
  display: flex;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}


//Component

.table-basic{
  table, th,td {
    border: 1px solid black;
  }
}

.dialog-wrapper {
  @extend .flex-center;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: black, $alpha: .33);

  .content{
    background-color: white;
    border-radius: 40px;
    padding: 40px;
  }
}

.side-menu {
  font-size: 1.5em;
  min-height: 100vh;

  background-color: whitesmoke;
  $animation-time: 0.5s;
  $menu-width: 10vw; //add the icon width

  .item {
    position: relative;
    padding: 20px;
    
    border-bottom: 1px solid grey;

    .icon {
      margin-right: 1em;

      transition: margin $animation-time ease-in-out;
    }

    .label {
      overflow: hidden;
      width: $menu-width;

      transition: width $animation-time ease-in-out;
    }

    &.header {
      flex-direction: row-reverse;
      justify-content: space-between;
      font-weight: bold;

      .icon {
        margin-right: 0;

        &:hover{
          color: pink;
        }
      }
    }

    &:hover:not(.header){
      background-color: grey;
    }
  }


  &.close {
    .label {
      width: 0;

      transition: width $animation-time ease-in-out;
    }

    .icon {
      margin-right: 0;

      transition: margin $animation-time ease-in-out;
    }
  }
}

//================================
.layout-1{
  display: flex;

  .page-content{
    padding: 40px;
  }
}
